@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./animations.css";

:root {
  --transition-default: 0.3s ease-in-out;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
}

a,
button {
  transition: all var(--transition-default);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

@layer components {
  .text-gradient {
    @apply bg-gradient-to-r from-blue-gradient1 to-blue-gradient3 bg-clip-text text-transparent;
  }
}

.bg-gradient {
  background: linear-gradient(
    to bottom,
    #003568,
    #a1c4e6,
    #deebf6c7,
    #d2e3f345
  );
}

/* Mobile gradient size */
.gradient-xs {
  /* width: 256px; */
  width: 300px;
}

/* Desktop gradient sizes (xl breakpoint) */
@media (min-width: 1280px) {
  .lg\:gradient-sm {
    width: 340px;
  }

  .lg\:gradient-md {
    width: 500px;
  }

  .lg\:gradient-lg {
    width: 600px;
  }
}
